*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_header{
    display: flex;
    margin-left: 121px;
    margin-top: 21px;
    margin-bottom: 4px;
    flex-direction: column;
    /*25 ashagi olacaq*/
}
.container_header .three_writing_and_icons span img{
    width: 22px;
    height: 21px;
    margin-right: 5px;
}
.container_header .three_writing_and_icons span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-right: 25px;
    padding-right: 10px;
    padding-bottom: 14px;
}
.head_image{
    width: 112px;
    height: 66px;
    margin-bottom: 96px;
}
.icon_glob{
    margin-right: 8px;
}
.icon_clock{
    margin-right: 10px;
}
.icon_calendar{
    margin-right: 13px;
}
.container_first_section{
    margin-left: 121px;
    margin-right: 246px;
    margin-bottom: 173px;
}
.big_size_content{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    max-width: 628px;
    max-height: 190px;
}
.little_size_content{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    max-width: 414px;
    max-height: 62px;
    margin-top: 20px;
}
.above_image_and_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 67px;
}
.Big_image_all_ellipse{
    display: flex;
    flex-direction: column;
}
.Big_image_all_ellipse .big_ellipse{
    width: 274px;
    height: 41px;
    margin-left: 27px;
}
.big_ellipse{
    position: relative;
    top: -21px;
    z-index: -1;
}
.main_below_content{
    max-width: 483.63px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    background: #1E4681;
    border-radius: 5px;
}
.eritel_{
    color: white;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    max-width: 430.59px;
    max-height: 113px;
    line-height: 130%;
    margin: 19px 27px 10px 26px;
}
.andrey{
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    margin-right: 14px;
    margin-bottom: 15px;
    padding-top: 12px;
}
.below_content_and_initial{
    display: flex;
    justify-content: center;
}
/*second section */
.second_section{
    margin-bottom: 162px;
}
.container_second_section{
    margin-left: 121px;
    margin-right: 127px;
}
.second_section_image_and_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}
.head_of_second_section{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    padding-bottom: 20px;
    margin-bottom: 18px;
}
.main_content_of_second_section{
    width: 662px;
    height: 374px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}
.second_section_cameraman{
    width: 314px;
    height: 315px;
}
.second_section_ellipse{
    width: 366px;
    height: 59px;
    position: relative;
    z-index: -1;
    top: -29px;
}
.image_of_second_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.little_image_and_three{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.three_little{
    display: flex;
    justify-content: space-between;
    margin-right: 317px;
}
.little_for_all{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    max-height: 39px;
}
.one_little_one{
    margin-right: 93px;
}
.two_little_one{
    margin-right: 93px;
}
.little_image_of_second_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 132px;
}
.light_man{
    width: 232px;
    height: 203px;
}
.light_man_ellipse{
    width: 189px;
    height: 32px;
}
.head_of_little{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
}
.below_content_for_three{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

/*third section*/
.container_of_third_section{
    margin-left: 121px;
    margin-right: 344px;
}
.format_zan{
    height: 93px;

    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 89px;
}
.one_piece_of_third_above{
    color:#1E4681;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    height: 39px;
    margin-bottom: 1px;
}
.little_third_of_third_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
}
.one_piece_of_third_below{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}
.third_one{
    width: 223px;
}
.third_two{
    width: 271px;
}
.third_three{
    width: 245px;
}
.chto_uznaem{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 21px;
    padding-bottom: 25px;
}
.chto_uznaem_ul{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    width: 662px;
}
/*omer branch*/
.third_of_end {
    background-color: rgb(239, 239, 239);
    padding-bottom: 111px;
}
.kypc_proshlo {
    padding-left: 122px;
    padding-top: 99px;
}
.kypc_card {
    background-color: white;
    width: 791px;
    height: 451px;
    margin-top: 34px;
    margin-left: 126px;
    border-radius: 30px;
}
.kypc_text {
    font-family: Roboto;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 46px;
    line-height: 150%;
}
.img_and_yekatirina {
    margin-left: 26px;
    margin-top: 10px;
    display: flex;
}
.yekatirina_head {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    margin-top: 50px;
    margin-left: 30px;
    padding-bottom: 20px;
}
.fb_logo {
    margin-left: 30px;
}
.green_part {
    background-color: rgb(157, 201, 200);
}
.nachala_ceptember {
    padding-top: 179px;
    padding-left: 122px;
}
.stoimost {
    padding-left: 122px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
}
.rubl {
    font-family: Roboto;
    font-style: normal;
    padding-left: 122px;
    padding-bottom: 70px;
    padding-right: 50px;
    padding-top: 2px;
    font-weight: normal;
    font-size: 80px;
    line-height: 101.38%;
}
.dlya_and_seychas {
    display: flex;
    padding-right: 660px;
    padding-left: 122px;
    padding-bottom: 185px;
}
.second_of_end_head {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
}
.second_of_end_text {
    padding-top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
}
.seychas {
    margin-left: 70px;
}
footer {
    background-color: black;
}
.logo_div {
    display: flex;
    padding-top: 54px;
    padding-left: 122px;
    justify-content: space-between;
    color: white;
}
.social {
    padding-top: 29px;
}
.so_pad {
    padding-left: 25px;
}
.phone_mail {
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}
.cont {
    display: flex;
}
.contacts_text {
    padding-left: 22px;
    font-family: 'Roboto';

}
.mail {
    padding-top: 25px;
}
.sinxroni {
    padding-top: 146px;
    color: white;
    padding-left: 122px;
    font-family: 18px;
    padding-bottom: 23px;
}

/*media*/
/*@media only screen and (max-width: 834px) {
    *{
        display: none;
    }
}*/


/*media last three parts for omer branch*/
/*tablet*/
@media (min-width:992px ) and (max-width:1280px){
    /*section third_of_end */
    .third_of_end {
        background-color: rgb(239, 239, 239);
        padding-bottom: 64.29px;
    }
    .kypc_proshlo {
        padding-left: 70.66px;
        padding-top: 52.7px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;  
    }
    .kypc_card {
        background-color: white;
        width: 458.12px;
        height: 261.2px;
        margin-top: 19.69px;
        margin-left: 72.97px;
        border-radius: 17.38px;
    }
    .kypc_text {
        font-family: Roboto;
        font-size: 12px;
        padding-top: 23.17px;
        padding-left: 26.06px;
        padding-right: 26.64px;
        line-height: 150%;
    }
    .img_and_yekatirina {
        width: 110.04px;
        height: 97.88px;
        margin-left: 15.06px;
        margin-top: 5.79px;
        display: flex;
    }
    .yekatirina_head {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        width: 204.5px;
        line-height: 101.38%;
        margin-top: 28.96px;
        margin-left: 17.38px;
        padding-bottom: 11.5px;
    }
    .fb_logo {
        margin-left: 17.38px;
        width: 18.53px;
        height: 17.95px;
    }
    /*section green_part*/
    .green_part {
        background-color: rgb(157, 201, 200);
    }
    .nachala_ceptember {
        padding-top: 103.67px;
        padding-left: 70.66px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
    }
    .stoimost {
        padding-left: 70.66px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 101.38%;
    }
    .rubl {
        font-family: Roboto;
        font-style: normal;
        padding-left: 70.66px;
        padding-bottom: 40.5px;
        padding-right: 28.9px;
        padding-top: 1.15px;
        font-weight: normal;
        font-size: 46px;
        line-height: 101.38%;
    }
    .dlya_and_seychas {
        display: flex;
        padding-right: 382.25px;
        padding-left: 70.66px;
        padding-bottom: 107.15px;
    }
    .second_of_end_head {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 101.38%; 
    }
    .second_of_end_text {
        width: 170.28px;
        height: 40.54px;
        padding-top: 5.21px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 101.38%;
    }
    .seychas {
        margin-left: 40.54px;
    }
    /*footer*/
    footer {
        background-color: black;
    }
    .logo_div {
        display: flex;
        padding-top: 28.96px;
        padding-left: 70.66px;
        justify-content: space-between;
        color: white;
    }
    .social {
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        padding-top: 16.8px;
    }
    .logo_mobile{
        width: 66.6px;
        height: 39.38px;
    }
    .so_pad {
        padding-left: 14.48px;
    }
    .phone_mail {
        display: flex;
        flex-direction: column;
        padding-right: 107.15px;
    }
    .cont {
        display: flex;
    }
    .contacts{
        box-sizing: content-box;
        width: 15.64px;
        height: 10.43px;
    }
    .contacts_text {
        padding-left: 12.74px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 101.38%;
    }
    .mail {
        padding-top: 14.48px;
    }
    .sinxroni {
        padding-top: 85.14px;
        color: white;
        font-size: 10px;
        padding-left: 70.66px;
        padding-bottom: 13.32px;
    }

}

/*phone*/
@media (min-width:320px ) and (max-width:991px){
    /*section third_of_end */
    .third_of_end {
        background-color: rgb(239, 239, 239);
        padding-bottom: 53px;
    }
    .kypc_proshlo {
        width: 300px;
        padding-left: 36px;
        padding-top: 42px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;  
    }
    .kypc_card {
        background-color: white;
        width: 308px;
        height: 248px;
        margin-top: 11px;
        margin-left: 36px;
        border-radius: 13.98px;
    }
    .kypc_text {
        font-family: Roboto;
        font-size: 10px;
        padding-top: 18.47px;
        padding-left: 21px;
        padding-right: 21px;
        line-height: 150%;
    }
    .img_and_yekatirina {
        width: 80px;
        height: 84px;
        margin-left: 21px;
        margin-top: 21.52px;
        display: flex;
    }
    .yekatirina_head {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        width: 164.49px;
        line-height: 101.38%;
        margin-left: 13.63px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    .fb_logo {
        margin-left: 13.63px;
        width: 14.91px;
        height: 17.2px;
    }
    /*section green_part*/
    .green_part {
        background-color: rgb(157, 201, 200);
    }
    .nachala_ceptember {
        padding-top: 62px;
        padding-left: 36px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        width: 260px;
        line-height: 101.38%;
    }
    .stoimost {
        padding-left: 36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 101.38%;
    }
    .rubl {
        font-family: Roboto;
        font-style: normal;
        padding-left: 36px;
        padding-bottom: 20.6px;
        padding-right: 14.6px;
        padding-top: 0.5px;
        font-weight: normal;
        font-size: 37px;
        line-height: 101.38%;
    }
    .dlya_and_seychas {
        display: flex;
        padding-right: 36px;
        padding-left: 36px;
        padding-bottom: 63px;
    }
    .second_of_end_head {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 101.38%; 
    }
    .second_of_end_text {
        width: 140px;
        height: 40.54px;
        padding-top: 5px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 101.38%;
    }
    .seychas {
        margin-left: 31.16px;
    }
    /*footer*/
    footer {
        background-color: black;
    }
    .logo_div {
        display: flex;
        flex-direction: column;
        
        padding-top: 23.3px;
        padding-left: 36px;
        justify-content: space-between;
        color: white;
    }
    .social {
        box-sizing: content-box;
        width: 15.38px;
        height: 15.38px;
        padding-top: 13.98px;
    }
    .logo_mobile{
        width: 53.59px;
        height: 31.69px;
    }
    .so_pad {
        padding-left: 8.39px;
    }
    .phone_mail {
        padding-top: 48px;
        display: flex;
        flex-direction: column;
    }
    .cont {
        display: flex;
    }
    .contacts{
        box-sizing: content-box;
        width: 12.58px;
        height: 12.58px;
    }
    .contacts_text {
        padding-left: 12.74px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 101.38%;
    }
    .mail {
        padding-top: 14.48px;
    }
    .sinxroni {
        padding-top: 48.99px;
        color: white;
        font-size: 10px;
        padding-left: 36px;
        padding-bottom: 10px;
    }

}